<h2>Log On</h2>
<p>Please enter your username and password. $html.ActionLink("Register", "Register") if you don't have an account.</p>
##$html.ValidationSummary("Login was unsuccessful. Please correct the errors and try again.")

<form>
    <div style="padding:100">
            <legend>Account Information</legend>
            <p>
                <label for="username">Username:</label>
                $html.TextBox("username")
##                $html.ValidationMessage("username")
            </p>
            <p>
                <label for="password">Password:</label>
                $html.Password("password")
##                $html.ValidationMessage("password")
            </p>
            <p>
                $html.CheckBox("rememberMe") <label class="inline" for="rememberMe">Remember me?</label>
            </p>
            <p>
                <input type="submit" value="Log On" />
            </p>
    </div>
</form>