<?xml version="1.0" encoding="utf-8" ?>
<castle xmlns="CCWindowsSchema">

  <facilities>
    <facility id="logging" type="Castle.Facilities.Logging.LoggingFacility, Castle.Facilities.Logging" loggingApi="log4net" />
    <facility
      id="nhibernate" isWeb="true"
      type="Castle.Facilities.NHibernateIntegration.NHibernateFacility, Castle.Facilities.NHibernateIntegration"
      configurationBuilder="Laan.ContentMatters.Utilities.AutoMappingBuilder, Laan.ContentMatters">
      <factory id="nhibernate.factory">
        <settings>
          <item key="connection.provider">NHibernate.Connection.DriverConnectionProvider</item>
          <item key="connection.driver_class">NHibernate.Driver.SQLiteDriver</item>
          <!--<item key="connection.connection_string">Data Source=:memory:;Version=3;New=True;Pooling=True;Max Pool=1;</item>-->
          <item key="connection.connection_string">Data Source=C:\Dev\GoogleCode\Laan.ContentMatters\Laan.ContentMatters\App_Data\Data.s3db</item>
          <item key="dialect">NHibernate.Dialect.SQLiteDialect</item>
        </settings>
        <options>
          <rebuild>true</rebuild>
          <outputMappings>true</outputMappings>
          <baseType>Laan.ContentMatters.Models.Item, Laan.ContentMatters</baseType>
          <filterType>Laan.ContentMatters.Models.IIdentifiable, Laan.ContentMatters</filterType>
        </options>
        <assemblies>
          <assembly>Laan.ContentMatters</assembly>
        </assemblies>        
        <conventions>
          <convention>Laan.ContentMatters.Conventions.ManyToOneConvention, Laan.ContentMatters</convention>
          <convention>Laan.ContentMatters.Conventions.OneToManyConvention, Laan.ContentMatters</convention>
          <convention>Laan.ContentMatters.Conventions.ForeignKeyConvention, Laan.ContentMatters</convention>
          <convention>Laan.ContentMatters.Conventions.IdentityConvention, Laan.ContentMatters</convention>
          <convention>Laan.ContentMatters.Conventions.EnumConvention, Laan.ContentMatters</convention>
          <convention>Laan.ContentMatters.Conventions.ClassConvention, Laan.ContentMatters</convention>
          <!--<convention>Laan.ContentMatters.Utilities.CollectionListTypeConvention, Laan.ContentMatters</convention>-->
        </conventions>
      </factory>
    </facility>
  </facilities>

  <components>
    <component
      id="ItemController"
      service="Laan.ContentMatters.Controllers.IController`1, Laan.ContentMatters"
      type="Laan.ContentMatters.Controllers.ItemController`1, Laan.ContentMatters"
      lifestyle="transient"
    />
    <component
      id="ItemRepository"
      service="Laan.Persistence.Interfaces.IRepository`1, Laan.Persistence"
      type="Laan.Persistence.Repository`1, Laan.Persistence"
      lifestyle="transient"
    />
  </components>
  
</castle>
